.topBar {
    width: 100%;
    padding: 20px 50px 20px 55px;
    background-color: white;
}

.topBarDiv {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
}

.topBarDiv button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendarType {
    margin: 20px 0 20px 0;
}

.calendarButtons {
    text-align: center;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #253238;
}

.flatIconTextButton {
    background: rgba(208, 217, 222, 0.2);
    border: 1px solid #D0D9DE;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 7px 0 0;
    font-size: 12px;
    /* height: 32px; */
    line-height: 30px;
}

.showListButton {
    background: #FFFFFF;
    border: 1px solid #D0D9DE;
    box-sizing: border-box;
    padding: 0;
    border-radius: 3px 0px 0px 3px;
    min-width: 40px;
    line-height: 30px;
}

.showDashboardButton {
    background: #FFFFFF;
    border: 1px solid #D0D9DE;
    box-sizing: border-box;
    padding: 0;
    border-radius: 0px 3px 3px 0px;
    min-width: 40px;
    line-height: 30px;
}

::ng-deep .fc-scheduleAppointment-button {
    background: #002868!important;
    border-radius: 9px 9px 9px 0px!important;

    font-weight: normal!important;
    font-size: 16px!important;
    line-height: 21px!important;
    text-align: center!important;
    color: #FFFFFF!important;
    padding: 8px 15px!important;
}

.scheduleAppointment {
    background: #002868!important;
    border-radius: 9px 9px 9px 0px;

    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 15px;
}

.activeBtn {
    background: #F6F7F8;
}

.iconInButton {
    font-size: 21px;
}

.notificationPanelWrap ul , .settingsPanelUL , .addPanelUL {padding: 0; margin: 0; list-style: none;}
.notificationPanelWrap ul li , .settingsPanelUL li , .addPanelUL li{
  padding-top: 10px;
  height: auto;
  padding-bottom: 10px;
  line-height: normal;
  border-bottom: 1px solid #E6EAF0;
}
.settingsPanelUL .mat-menu-item:hover ,
.notificationPanelWrap .mat-menu-item:hover,
.addPanelUL .mat-menu-item:hover
{background-color: #F3F5F9;}
.notificationPanelWrap ul li:last-child , ul.addPanelUL li {
  border-bottom: 0;
}
.settingsPanelUL li:not(:first-child){
  border-bottom: 0;
}
.settingsPanelUL li:first-child {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  border-bottom-color: #E4E9EF;
}
.settingsPanelUL li a:hover , .addPanelUL li a:hover {color: #253238;}
.notificationPanelWrap .alignText {line-height: 25px; white-space: initial;}
.notificationPanelWrap .material-icons {color: #253238; font-size: 22px;}
.notificationPanelWrap .alignText .material-icons {color: #ff0000; font-size: 16px;width: auto;
  height: 20px;}

.mainContainer {
    background: #EFF2F7;
    /* max-height: calc(100vh - 137px); */
    padding: 10px 20px;
}

/* .mainContainer .avatar {
    border-radius: 99px;
    width: 48px;
    height: 48px;
} */

mat-card {
    border-radius: 6px;
}

.checkDiv {
    display: flex;
    align-items: center;
}

.checkDiv span {
    font-weight: normal;
    font-size: 12.5px;
    line-height: 17px;
    color: #455B66;
}

.checkDiv mat-checkbox span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #202D3F;
}

.drawerContainer {
    width: 360px;
}

.drawerContainerTop {
    padding: 19px 12px;
    display: flex;
    align-items: center;
}

.closeIconButton {
    background: #FFFFFF;
    border: 1.14286px solid #E6EAF0;
    border-radius: 3.42857px;
    padding: 0;
    min-width: 24px;
    line-height: 24px;
}

.cardCheckBox {
    position: absolute;
    right: 0;
    top: 3px;
}

.deleteBtn {
    border: 1px solid #D0D9DE;
    border-radius: 6px;
    line-height: 27px;
    color: red;
    background: white;
}

.fullWidth {
    width: 100% !important;
}

.fullcalendar {
    margin: 10px 50px 0px 50px;
}

::ng-deep .checkbox-inline {
    vertical-align: middle;
    padding: 2px;
    display: flex;
    align-items: center;
}

::ng-deep .event-checkbox {
    margin-right: 4px;
    margin-top: -4px
}

::ng-deep .event-label {
    margin: 3px 0px 0px 0px;
    font-weight: bold;
}

::ng-deep .fc-col-header-cell {
  text-align: right!important;
}

::ng-deep .fc-col-header-cell-cushion {
  color: rgba(0, 0, 0, 0.8);
}

::ng-deep .fc-daygrid-day-number {
  color: rgba(0, 0, 0, 0.8);   
}

::ng-deep .fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(0, 0, 0, 0.0)!important;
}

::ng-deep .fc-day-today .fc-daygrid-day-number {
  background-color: #002868 !important;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  color: white;
  text-align: center;
} 

::ng-deep .fc .fc-toolbar {
  justify-content: left!important;
}

::ng-deep h2.fc-toolbar-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #253238;  
  width: 200px!important;
}

::ng-deep.fc-prev-button, ::ng-deep.fc-next-button {
  background-color: white!important;
  color: rgba(0, 0, 0, 0.8)!important;
}