<app-header></app-header>
<section class="py-3 sectionTop">
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col-12">
        <div class="color-253238 f-20-500">Account Settings</div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col-12">
        <div class="py-2 customTabOne">
          <div class="f-14-500 color-253238 mb-2">Manage</div>
          <mat-tab-group [@.disabled]="true">
            <mat-tab label="Profile">
              <div class="">
                <div class="row">
                  <div class="col-4">
                    display soon..
                  </div>

                </div>
              </div>

            </mat-tab>
            <mat-tab label="Users"> Content 2 </mat-tab>
            <mat-tab label="Account"> Content 3 </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
