<app-header></app-header>
<div *ngIf="!listShow">
    <mat-drawer-container hasBackdrop="true">
        <mat-drawer #drawer mode="Over" position="end">
            <div class="drawerContainer">
                <div class="drawerContainerTop">
                    <button mat-button class="closeButton mr-4" (click)="drawer.toggle()">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-icon>filter_alt</mat-icon>
                    <span class="mr-5">Filters</span>
                    <button mat-button class="clearAllButton ml-5">
                        Clear all
                    </button>
                </div>
                <app-filter></app-filter>
            </div>
        </mat-drawer>

        <div class="topBar">
            <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column" > 
                <div class="topBarDiv">
                    <span class="title mr-3 fontObjektivMk mt-1">All Leads</span>

                    <mat-form-field class="searchForm" appearance="outline">
                        <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"
                                placeholder="Search by contact name">
                        <mat-icon matSuffix>search</mat-icon>
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)">
                            <div class="optionBtnContainer">
                                <button mat-button class={{activeClass(1)}} (click)="setActive(1)">
                                    <span>Person</span>
                                </button>
                                <button mat-button class={{activeClass(2)}} (click)="setActive(2)">
                                    <span>Company</span>
                                </button>
                                <button mat-button class={{activeClass(3)}} (click)="setActive(3)">
                                    <span>Lead</span>
                                </button>
                            </div>
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                <div class="optionDiv">
                                    <img alt="Image" src="../../assets/images/user-sample.png">
                                    <div class="ml-3">
                                        <p class="span1">{{option}}</p>
                                        <p class="span2">{{option}} description</p>
                                    </div>
                                </div>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <button mat-button class="ml-3 flatIconTextButton" [matMenuTriggerFor]="menu2">
                        <mat-icon class="iconInButton">arrow_drop_down</mat-icon>
                        Sales Pipeline 20...
                    </button>
                    <mat-menu #menu2="matMenu">
                        <button mat-menu-item>pipe1</button>
                        <button mat-menu-item>pipe2</button>
                        <button mat-menu-item>pipe3</button>
                    </mat-menu>
                </div>
                <div class="topBarDiv">
                    <button mat-button class="flatIconTextButton mr-3"  [matMenuTriggerFor]="menu3">
                        <mat-icon class="iconInButton">arrow_drop_down</mat-icon>
                        Option
                    </button>
                    <mat-menu #menu3="matMenu">
                        <button mat-menu-item>option1</button>
                        <button mat-menu-item>option2</button>
                        <button mat-menu-item>option3</button>
                    </mat-menu>

                    <button mat-button class="flatIconLightButton" (click)="showList()">
                        <mat-icon>list</mat-icon>
                    </button>
                    <button mat-button class="flatIconDarkButton" (click)="showCards()">
                        <mat-icon>view_module</mat-icon>
                    </button>
                    <button mat-button class="flatIconTextButton ml-3" (click)="drawer.toggle()">
                        <mat-icon class="iconInButton">filter_alt</mat-icon>
                        Filter(1)
                    </button>
                </div>
            </div>
        </div>
        <div class="main-content scrollContainer">
            <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.xs="column" fxLayout.sm="column">
                <div class="card-container" cdkDropList [cdkDropListData]="discovery" #discoveryList="cdkDropList"
                    [cdkDropListConnectedTo]="[qualifiedList]" (cdkDropListDropped)="dropped($event)">
                    <p class="list-title fontObjektivMk">Discovery {{discovery.length}}</p>
                    <mat-card class="mat-elevation-z0 p-2" cdkDrag *ngFor="let i of discovery">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image">
                                <img alt="Image" src="../../../assets/images/user-sample.png" class="avatar">
                            </div>
                            <mat-card-title>
                                <p class="card-title fontObjektivMk">Packet Monster Sales Opportunity</p>
                                <p class="card-sub-title1 fontObjektivMk">Packet Monster, Inc.</p>
                                <p class="card-sub-title2 fontObjektivMk">$0.00</p>
                                <p class="card-sub-title3 fontObjektivMk">Tammy Gillis, <span class="card-sub-title4">14/12/2020</span></p>
                            </mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>
                
                <div class="card-container" cdkDropList [cdkDropListData]="qualified" #qualifiedList="cdkDropList"
                    [cdkDropListConnectedTo]="[discoveryList, evolutionList]" (cdkDropListDropped)="dropped($event)">
                    <p class="list-title fontObjektivMk">Qualified {{qualified.length}}</p>
                    <mat-card class="mat-elevation-z0 p-2" cdkDrag *ngFor="let i of qualified">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image">
                                <img alt="Image" src="../../../assets/images/user-sample.png" class="avatar">
                            </div>
                            <mat-card-title>
                                <p class="card-title fontObjektivMk">Packet Monster Sales Opportunity</p>
                                <p class="card-sub-title1 fontObjektivMk">Packet Monster, Inc.</p>
                                <p class="card-sub-title2 fontObjektivMk">$0.00</p>
                                <p class="card-sub-title3 fontObjektivMk">Tammy Gillis, <span class="card-sub-title4">14/12/2020</span></p>
                            </mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>
                
                <div class="card-container" cdkDropList [cdkDropListData]="evolution" #evolutionList="cdkDropList"
                    [cdkDropListConnectedTo]="[qualifiedList, negotiationList]" (cdkDropListDropped)="dropped($event)">
                    <p class="list-title fontObjektivMk">Evolution {{evolution.length}}</p>
                    <mat-card class="mat-elevation-z0 p-2" cdkDrag *ngFor="let i of evolution">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image">
                                <img alt="Image" src="../../../assets/images/user-sample.png" class="avatar">
                            </div>
                            <mat-card-title>
                                <p class="card-title fontObjektivMk">Packet Monster Sales Opportunity</p>
                                <p class="card-sub-title1 fontObjektivMk">Packet Monster, Inc.</p>
                                <p class="card-sub-title2 fontObjektivMk">$0.00</p>
                                <p class="card-sub-title3 fontObjektivMk">Tammy Gillis, <span class="card-sub-title4">14/12/2020</span></p>
                            </mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>

                <div class="card-container" cdkDropList [cdkDropListData]="negotiation" #negotiationList="cdkDropList"
                    [cdkDropListConnectedTo]="[evolutionList, closedList]" (cdkDropListDropped)="dropped($event)">
                    <p class="list-title fontObjektivMk">Negotiation {{negotiation.length}}</p>
                    <mat-card class="mat-elevation-z0 p-2" cdkDrag *ngFor="let i of negotiation">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image">
                                <img alt="Image" src="../../../assets/images/user-sample.png" class="avatar">
                            </div>
                            <mat-card-title>
                                <p class="card-title fontObjektivMk">Packet Monster Sales Opportunity</p>
                                <p class="card-sub-title1 fontObjektivMk">Packet Monster, Inc.</p>
                                <p class="card-sub-title2 fontObjektivMk">$0.00</p>
                                <p class="card-sub-title3 fontObjektivMk">Tammy Gillis, <span class="card-sub-title4">14/12/2020</span></p>
                            </mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>
                
                <div class="card-container" cdkDropList #closedList="cdkDropList" [cdkDropListData]="closed"
                    [cdkDropListConnectedTo]="[negotiationList]" (cdkDropListDropped)="dropped($event)">
                    <p class="list-title fontObjektivMk">Closed {{closed.length}}</p>
                    <mat-card class="mat-elevation-z0 p-2" cdkDrag *ngFor="let i of closed">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image">
                                <img alt="Image" src="../../../assets/images/user-sample.png" class="avatar">
                            </div>
                            <mat-card-title>
                                <p class="card-title fontObjektivMk">Packet Monster Sales Opportunity</p>
                                <p class="card-sub-title1 fontObjektivMk">Packet Monster, Inc.</p>
                                <p class="card-sub-title2 fontObjektivMk">$0.00</p>
                                <p class="card-sub-title3 fontObjektivMk">Tammy Gillis, <span class="card-sub-title4">14/12/2020</span></p>
                            </mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="footText1 mr-5">Summary</span>
            <span class="footText2 mr-2">Total Deals</span> <span class="footText1 mr-5">2</span>
            <span class="footText2 mr-2">Total Value</span> <span class="footText1 mr-5">$25030</span>
            <span class="footText2 mr-2">Average Value</span> <span class="footText1">$9809</span>
        </div>
    </mat-drawer-container>
</div>

<div *ngIf="listShow">
    <div fxLayout="row" fxLayout.xs="column">
        <div class="leftPart" fxFlex="80">
            <div class="topBar">
                <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column" fxLayout.sm="column">
                    <div class="topBarDiv">
                        <span class="title mr-3 fontObjektivMk mt-1">Leads</span>
                        <div class="input-group topSearch">
                            <input type="text" class="form-control" placeholder="Search by contact name">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1">
                                    <mat-icon aria-hidden="false">search</mat-icon>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="topBarDiv">
                        <button mat-button class="flatIconTextButton mr-3">
                            <mat-icon class="iconInButton">arrow_drop_down</mat-icon>
                            Option
                        </button>
                        <button mat-button class="flatIconDarkButton1" (click)="showList()">
                            <mat-icon>list</mat-icon>
                        </button>
                        <button mat-button class="flatIconLightButton1" (click)="showCards()">
                            <mat-icon>view_module</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="tableContainer">
                <app-lead-table></app-lead-table>
            </div>
        </div>
        <div class="rightPart" fxFlex="20" fxFill>
            <div class="topInRightPart">
                <mat-icon>filter_alt</mat-icon>
                <span>Filters</span>
            </div>
            <app-filter></app-filter>
        </div>
    </div>
</div>