<mat-accordion class="grayAccordion">
    <mat-expansion-panel class="mat-elevation-z0 mat-panel2">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div>
                    Value<br>
                    <span>{{minValue}}$ ~ {{highValue}}$</span>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-content">
            <div class="valueDiv">
                <span>From</span>
                <mat-form-field appearance="outline" class="noLabelForm">
                    <input matInput [(ngModel)]="minValue">
                </mat-form-field>
                <span>To</span>
                <mat-form-field appearance="outline" class="noLabelForm">
                    <input matInput [(ngModel)]="highValue">
                </mat-form-field>
            </div>
            <br>
            <div class="rangeDiv">
                <ngx-slider [(value)]="minValue" [(highValue)]="highValue" [options]="sliderOptions"></ngx-slider>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0 mat-panel3 contactPanel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Contact
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-content">
            <div>
                <button mat-button class="userButton" [class.activeButton] = "contactActive == 0" (click)="clickUser()">
                    User
                </button>
                <button mat-button class="companyButton" [class.activeButton] = "contactActive == 1" (click)="clickCompany()">
                    Company
                </button>
            </div>
            <br>
            <mat-form-field class="serachForm noLabelForm whiteBackground" appearance="outline">
                <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"
                        placeholder="Search by contact name" >
                <mat-icon matSuffix>search</mat-icon>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)">
                    <div class="optionBtnContainer">
                        <button mat-button class={{activeClass(1)}} (click)="setActive(1)">
                            <span>Person</span>
                        </button>
                        <button mat-button class={{activeClass(2)}} (click)="setActive(2)">
                            <span>Company</span>
                        </button>
                        <button mat-button class={{activeClass(3)}} (click)="setActive(3)">
                            <span>Lead</span>
                        </button>
                    </div>
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        <div class="optionDiv">
                            <img alt="Image" src="../../../assets/images/user-sample.png">
                            <div class="ml-3">
                                <p class="span1">{{option}}</p>
                                <p class="span2">{{option}} description</p>
                            </div>
                        </div>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-checkbox #checkboxes color="primary" *ngFor="let option of selectedContact">{{option}}</mat-checkbox>

            <div class="text-right">
                <button mat-button class="clearButton ml-5" (click)="clearClick()">
                    Clear
                </button>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0 mat-panel4">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Source
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-content">
            <mat-checkbox color="primary">All</mat-checkbox><br>
            <mat-checkbox color="primary">SMS</mat-checkbox><br>
            <mat-checkbox color="primary">Website</mat-checkbox><br>
            <mat-checkbox color="primary">News</mat-checkbox>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0 mat-panel1">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Pipeline / Stages
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-content">
            <div class="trapezoid1">
                <div class="text">
                    <button mat-button [matMenuTriggerFor]="menu">
                        Sales Pipleline
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item>pipe1</button>
                        <button mat-menu-item>pipe2</button>
                        <button mat-menu-item>pipe3</button>
                    </mat-menu>
                </div>
            </div>
            <div class="trapezoid2">
                <div class="text">Discovery</div>
            </div>
            <div class="trapezoid3">
                <div class="text">content</div>
            </div>
            <div class="trapezoid4">
                <div class="text">Qualified</div>
            </div>
            <div class="trapezoid5">
                <div class="text">Evolution</div>
            </div>
            <div class="trapezoid6">
                <div class="text">Closed Won</div>
            </div>
            <div class="trapezoid7">
                <div class="text">
                    <button mat-button [matMenuTriggerFor]="menu1">
                        Closed Lost
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #menu1="matMenu"  xPosition="before">
                        <button mat-menu-item>progress</button>
                        <button mat-menu-item>won</button>
                        <button mat-menu-item>lost</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0 mat-panel5">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div>
                    Status<br>
                    <span>ALL</span>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-content">
            *
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0 mat-panel6">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Date Modified
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-content">
            *
        </div>
    </mat-expansion-panel>
</mat-accordion>
