<mat-tab-group #tabGroup (selectedTabChange)="handleTabChange($event)">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">comment</mat-icon>
            Add a Note
        </ng-template>
        <div class="tabContent">
            <button mat-button class="editorButton" *ngIf="!editorShow" (click)="showEditor()">Mindfatory Team</button>
            <editor 
                *ngIf="activeTabIndex===0 && editorShow"
                apiKey="qddpqw4y0sca4zdtc103gq4cneo50qyyx2ss9febsvv6o269"
                initialValue="<p>Initial content of the editor</p>" [init]="{
                        toolbar_location: 'bottom',
                        height: 200,
                        menubar: false,
                        plugins: [
                        'advlist autolink lists link image charmap print',
                        'preview anchor searchreplace visualblocks code',
                        'fullscreen insertdatetime media table paste',
                        'help wordcount'
                        ],
                        toolbar:
                        'undo redo | formatselect | bold italic | \
                        alignleft aligncenter alignright alignjustify | \
                        bullist numlist outdent indent | help'
                    }">
            </editor>
            <div *ngIf="editorShow">
                <button mat-button class="cancelButton" (click)="hideEditor()">Cancel</button>
                <button mat-button class="saveButton">Save</button>
            </div>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">email</mat-icon>
            Send an Email
        </ng-template>
        <div class="tabContent">
            <button mat-button class="editorButton" *ngIf="!editorShow" (click)="showEditor()">Mindfatory Team</button>
            <editor
                *ngIf="activeTabIndex===1 && editorShow"
                apiKey="qddpqw4y0sca4zdtc103gq4cneo50qyyx2ss9febsvv6o269"
                initialValue="<p>email</p>"
                [init]="{
                    toolbar_location: 'bottom',
                    height: 200,
                    menubar: false,
                    plugins: [
                    'advlist autolink lists link image charmap print',
                    'preview anchor searchreplace visualblocks code',
                    'fullscreen insertdatetime media table paste',
                    'help wordcount'
                    ],
                    toolbar:
                    'undo redo | formatselect | bold italic | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | help'
                }"
                >
            </editor>
            <div *ngIf="editorShow">
                <button mat-button class="cancelButton" (click)="hideEditor()">Cancel</button>
                <button mat-button class="saveButton">Save</button>
            </div>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">local_phone</mat-icon>
            Call
        </ng-template>
        <div class="tabContent">
            <button mat-button class="editorButton" *ngIf="!editorShow" (click)="showEditor()">Mindfatory Team</button>
            <editor
                *ngIf="activeTabIndex===2 && editorShow"
                apiKey="qddpqw4y0sca4zdtc103gq4cneo50qyyx2ss9febsvv6o269"
                initialValue="<p>Call</p>"
                [init]="{
                    toolbar_location: 'bottom',
                    height: 200,
                    menubar: false,
                    plugins: [
                    'advlist autolink lists link image charmap print',
                    'preview anchor searchreplace visualblocks code',
                    'fullscreen insertdatetime media table paste',
                    'help wordcount'
                    ],
                    toolbar:
                    'undo redo | formatselect | bold italic | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | help'
                }"
                >
            </editor>
            <div *ngIf="editorShow">
                <button mat-button class="cancelButton" (click)="hideEditor()">Cancel</button>
                <button mat-button class="saveButton">Save</button>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>