body { margin: 0; background: #EFF2F7 !important; }
body.fontObjektivMk {font-family: objektiv-mk3, sans-serif; }
div a:hover{text-decoration: none;}
div, h1, .mat-checkbox, span {
  font-family: objektiv-mk3, sans-serif !important; 
}
.f-10-500 {font-size: 10px; font-weight: 500;line-height: 14px;}
.f-12-400 {font-size: 12px; font-weight: 400;line-height: 17px;}
.f-12-500 {font-size: 12px; font-weight: 500;line-height: 17px;}
.f-12-700 {font-size: 12px; font-weight: 700;line-height: 17px;}
.f-13-500 {font-size: 13px; font-weight: 500;line-height: 19px;}
.f-14-400 {font-size: 14px; font-weight: 400;line-height: 20px;}
.f-14-500 {font-size: 14px; font-weight: 500;line-height: 20px;}
.f-14-700 {font-size: 14px; font-weight: 700;line-height: 20px;}
.f-16-400 {font-size: 16px; font-weight: 400;line-height: 23px;}
.f-16-500 {font-size: 16px; font-weight: 500;line-height: 23px;}
.f-16-700 {font-size: 16px; font-weight: 700;line-height: 23px;}
.f-18-500 {font-size: 18px; font-weight: 500;line-height: 26px;}
.f-20-500 {font-size: 20px; font-weight: 500;line-height: 29px;}
.f-22-500 {font-size: 22px; font-weight: 500;line-height: 32px;}
.f-22-700 {font-size: 22px; font-weight: 700;line-height: 32px;}
.f-60-700 {font-size: 60px; font-weight: 700; line-height: 75px;}

.color-253238 {color: #253238;}
.color-1F304B {color: #1F304B;}
.color-242E4C {color: #242E4C;}
.color-455B66 {color: #455B66;}
.color-ff0000 {color: #ff0000;}
.color-002868 {color: #002868;}
.color-lite-O {
  color: rgba(31, 48, 75, 0.7);
}

.alertBox {
  background: #E1FAEA;
border: 1px solid #B2E4C4;
}
.alertBoxError {
  background: #FFEAEA;
  border: 1px solid #FFB4B4;
}
.alertBox , .alertBoxError {
  box-sizing: border-box;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 30px;
}

.userForm .mat-form-field.mat-focused .mat-form-field-label , .userForm .mat-form-field-appearance-outline .mat-form-field-outline-thick ,
.userForm .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick
 {color: #C41E41;}

 .mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button , .mat-menu-item,.mat-tab-label {
  font-family: objektiv-mk3, sans-serif;
 }

 .mat-flat-button.btnColor1-R{background-color: #C41E41; border-radius: 9px 9px 9px 0px;}

 /* Custom Tab */
 .customTabOne .mat-tab-header {
  border-bottom: 0;
}
.customTabOne .mat-tab-label{color: #253238; opacity: 1; font-size: 12px; line-height: 17px;
justify-content: flex-start;height: auto;
padding: 8px 10px;
}
.customTabOne .mat-tab-body-content {
  overflow: initial;
}

@media(max-width: 767px){
  .customTabOne .mat-tab-header {
    width: 100%;
  }
  .customTabOne .mat-tab-group {
    display: block;
  }
}
  @media(min-width: 768px){
    .customTabOne .mat-tab-header {
      width: 22.333%;
    }
  }
/* Custom Tab */
 @media(min-width:768px){
  div.userForm  [ng-reflect-ng-switch="error"] {
    width: 325px;
    top: 0;
    left: -350px;
    background: #C41E41;
  opacity: 0.95;
  border-radius: 6px;
  color: #fff;
  padding: 10px;
  }

  .userForm .mat-error {color: #fff;}
  .notificationPanel {max-width: 375px !important; width: 375px !important;}
 }

 @media(max-width: 991px){
  .f-60-700 {font-size: 30px; line-height: 40px;}

}

 @media (max-width:1024px){
  .container-fluid.px-5 {
    padding-left: 15px !important; padding-right: 15px !important;
  }
}

.flatIconTextButton .mat-icon{
  margin-top: 3px;
}

.mat-tab-label-active {
  opacity: 1 !important;
  background-color: white;
  border: 1px solid #D0D9DE;
  border-bottom: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.mat-tab-group .mat-tab-header {
  border-bottom-width: 0;
}

.mat-tab-group .mat-tab-body {
  background-color: white;
  border: 1px solid #D0D9DE;
  border-radius: 6px;
  border-top-left-radius: 0;
}

.mat-tab-group .mat-tab-label {
  height: 35px;
}

.mat-tab-group .mat-tab-label-content {
  font-size: 12px;
}

.mat-tab-group .mat-tab-label-content .mat-icon{
  margin-right: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;;
}

.mat-tab-group .mat-tab-header .mat-ink-bar {
  display: none;
}

.cancelButton {
  background: #EFF2F7;
  border: 1px solid #D0D9DE;
  box-sizing: border-box;
  border-radius: 1.8305px;
  line-height: 30px !important;
  font-size: 12px;
  margin-top: 10px !important;
}

.saveButton {
  background: #002868;
  color: white;
  box-sizing: border-box;
  border-radius: 1.8305px;
  line-height: 30px !important;
  font-size: 12px;
  margin-top: 10px !important;
  margin-left: 8px !important;
}

.grayAccordion .mat-expansion-panel .mat-expansion-panel-content {
  background-color: rgba(239, 242, 247, 0.75);
}

.grayAccordion .mat-expanded {
  background-color: rgba(239, 242, 247, 0.75);
}

.mat-accordion-multi .mat-expansion-panel-body {
  background-color: white;
}

.mat-expansion-panel{
  margin: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.mat-dialog-container {
  padding: 0px !important;
}

.mat-checkbox .mat-checkbox-inner-container {
  height: 18px;
  width: 18px;
  margin-right: 8px;
}

.cardCheckBox .mat-checkbox-inner-container {
  height: 15px;
  width: 15px;
}

.mat-checkbox .mat-checkbox-label {
  line-height: 20px;
}

.mat-dialog-content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.mat-dialog-content::-webkit-scrollbar {
  display: none;
}

.whiteBackground .mat-form-field-outline {
  background: white;
  border-radius: 6px;
}

.grayBackground .mat-form-field-outline {
  background: #F7F8FA;
  border-radius: 6px;
}

.dialogDatePicker .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-outline{
  height: 35px;
}

.mat-checkbox-checked .mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background {
  background-color: #002868 !important;
}

.mat-checkbox-indeterminate .mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background {
  background-color: #002868 !important;
}

.noLabelForm .mat-form-field-infix {
  border-top: 0;
  padding-bottom: 8px;
  padding-top: 13px;
}

.noLabelForm .mat-form-field-infix .mat-select-arrow-wrapper {
  padding-top: 7px;
}

.noLabelForm .mat-form-field-suffix {
  top: .45em !important;
}

.noLabelForm mat-icon {
  color: gray;
}

.formControl {
    margin-bottom: -0.5em;
    width: 100%;
}

.halfControl {
    margin-bottom: -0.5em;
    width: 50%;
}

.noScrollDrawer .mat-drawer-inner-container {
  overflow: hidden;
}

.headerSearch {
  margin-bottom: 0 !important;
}

.headerSearch .mat-form-field-wrapper {
  margin: 0 !important;
  padding-bottom: 0;
}

.headerSearch .mat-form-field-outline{
  background: rgba(255, 255, 255, 0.09);
  border-radius: 6px;
}

.headerSearch .mat-form-field-infix input {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

.headerSearch .mat-form-field-infix input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.mat-checkbox .mat-checkbox-inner-container .mat-checkbox-frame {
  border-radius: 5px;
  border: 1px solid #D0D9DE;
  background: white;
}

.mat-checkbox .mat-checkbox-background {
  border-radius: 5px;
}

.cardCheckBox .mat-checkbox-inner-container .mat-checkbox-frame {
  border-radius: 2px;
}

.cardCheckBox .mat-checkbox-background {
  border-radius: 2px;
}

.mandatoryCheck .mat-checkbox-layout .mat-checkbox-inner-container{
  /* padding-top: 6px; */
  width: 24px;
  height: 24px;
}

.mandatoryCheck .mat-checkbox-layout {
  display: flex;
  align-items: center;
}

.mandatoryCheck .mat-checkbox-layout .mat-checkbox-label{
  margin-top: 2px;
  color: #455B66;
}

.roundIcon {
    background: #EFF2F7;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    color: #455B66;
}

.bigRoundIcon {
    background: #EFF2F7;
    width: 58px !important;
    height: 58px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #455B66;
}

.mat-checkbox .mat-checkbox-layout {
  margin-bottom: 0;
}

.contactCheck .mat-checkbox-inner-container{
  margin-right: 4px;
}

.contactCheck .mat-checkbox-layout {
  display: flex;
  align-items: center;
}

.contactCheck .mat-checkbox-layout .mat-checkbox-label {
  position: relative;
  top: 3px;
}

.mat-radio-group .mat-radio-outer-circle {
  border-color: #002868 !important;
}

.mat-radio-group .mat-radio-inner-circle {
  background-color: #002868 !important;
}

.mat-radio-group br {
  display: none;
}

.noSpaceField .mat-form-field-wrapper {
  padding: 0!important;
  margin: 0 !important;
}


.mat-paginator-container .mat-paginator-page-size, .mat-paginator-range-label{
  display: none;
}

.mat-paginator-container .mat-paginator-range-actions .mat-paginator-navigation-first {
  display: none;
}

.mat-paginator-container .mat-paginator-range-actions .mat-paginator-navigation-last {
  display: none;
}

.mat-paginator-outer-container .mat-paginator-container {
  justify-content: flex-start;
}

.mat-paginator-container .mat-paginator-range-actions button {
  border: 1px solid black;
  border-radius: 3px !important;
  border: 1px solid #D0D9DE;
}

.mat-paginator-container .mat-paginator-range-actions {
  margin-left: 10px;
}


.ngx-slider .ngx-slider-pointer {
  width: 20px !important;
  height: 20px !important;
  top: -8px !important;
  background-color: #455B66 !important;
}

.ngx-slider .ngx-slider-pointer:after {
  background-color: #455B66 !important;
  left: 7px !important;
  top: 7px !important;
}

.ngx-slider .ngx-slider-selection {
    background: #455B66 !important;
}

.ngx-slider .ngx-slider-bubble {
  font-size: 12px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 3px 0 0 3px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 3px 3px 0 !important;
}

.noTopPrefixField .mat-form-field-prefix {
  top: 0 !important;
}

.pipeMenu {
  min-width: 256px !important;
}
.closeMenu {
  min-width: 136px !important;
}

.noPaddingPanel .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0;
}

.mat-expansion-panel-header {
    height: 56px;
}

.mat-expansion-indicator::after {
    transform: rotate(315deg) !important;
}

.mat-expanded .mat-expansion-indicator {
  transform: rotate(90deg) !important;
}

.mat-expanded .ownIcon {
  transform: rotate(90deg);
}

.grayExpanded .mat-expanded {
  border-radius: 0 !important;
  background: rgba(239, 242, 247, 0.75) !important;
  border-bottom: 1px solid #D0D9DE;
}

.grayExpanded .mat-expansion-panel-body {
  background: rgba(239, 242, 247, 0.75) !important;
}

.mat-badge .mat-badge-content {
    font-size: 11px !important;
    width: 19px;
    height: 19px;
    line-height: 19px;
}

.mat-radio-button .mat-radio-label-content {
  font-size: 12.5px;
}

.displayColumn {
    display: flex;
    flex-direction: column;
}

.filterBadge .mat-badge-content {
  top: -1px !important;
  background: #DB5353 !important;
}

.serachForm .mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-autocomplete-panel .mat-option .mat-option-text .mat-checkbox-layout .mat-checkbox-label{
  font-size: 12px;
}

/* .mat-autocomplete-panel .mat-checkbox .mat-checkbox-inner-container {
  height: 18px;
  width: 18px;
} */

.mat-autocomplete-panel .mat-option {
  padding: 0
}

.mat-autocomplete-panel .mat-option .mat-option-text .mat-checkbox {
  /* padding-left: 16px; */
}

.mat-autocomplete-panel .mat-option .mat-option-text {
  font-size: 14px;
  padding-left: 6px;
}

.noPaddingListContent .mat-list-item {
  height: 32px !important;
}

.noPaddingListContent .mat-list-item-content {
  padding: 0 !important;
}

.noPaddingListContent .mat-list-item-content .listContent .mat-checkbox-inner-container {
  height: 18px;
  width: 18px;
}

.pipePopup {
  width: 145px !important;
}

.dialogSearchFormField .mat-form-field-infix {
  border-top: 0;
  padding-top: 16px;
}

.dialogSearchFormField .mat-form-field-wrapper {
  padding-bottom: 0;
}

.dialogSearchFormField .mat-form-field-wrapper .mat-form-field-flex {
  height: 40px;
  width: 160px;
}

.dialogSearchFormField .mat-form-field-suffix {
  top: 7px !important;
}

.stage-success {
  background: #253238;
  border: 1px solid #E6EAF0;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
}

.statusSelect .mat-form-field-infix {
  border-top: 0;
}

.statusSelect .mat-form-field-wrapper {
  padding-bottom: 0;
}

.statusSelect .mat-form-field-infix .mat-select-trigger .mat-select-value{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #002868;
}

.statusSelect .mat-form-field-infix .mat-select-trigger .mat-select-value {
  color: #253238;
}

.statusSelect .mat-form-field-underline {
  display: none;
}

.mat-checkbox .mat-checkbox-label {
  white-space: normal;
}

.datePicker .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix .mat-datepicker-toggle .mat-focus-indicator{
  height: 2em !important;
}

.fr-box .fr-toolbar div button svg {
  width: 18px !important;
  height: 18px !important;
}

.inputSelectForm .mat-form-field-infix {
  /* display: inherit; */
}

.noSpaceForm .mat-form-field-wrapper {
  margin: 0 !important;
  padding-bottom: 0 !important;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.dialogFroala .fr-wrapper {
  border-radius: 0 !important;
  border: 0 !important;
  border-top: 1px solid #D0D9DE !important;
}

.dialogFroala .fr-wrapper .fr-element{
  height: 230px;
}

.fr-wrapper .fr-element p {
  margin-bottom: 0px !important;
}

.dialogFroala .fr-toolbar {
  border: 0 !important;
  border-top: 1px solid #D0D9DE !important;
}
