<div class="rightPart">
    <mat-accordion [multi]="true" class="customAccordion">
        <mat-expansion-panel class="mat-elevation-z0" [hideToggle]="true" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div>
                        <mat-icon class="mr-2 ownIcon">keyboard_arrow_right</mat-icon>
                        Leads
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="panel-content1">
                <div>
                    <span>Total Value</span><br>
                    <span class="priceSpan">$430.00</span>
                </div>
                <div>
                    <span>Total Expected</span><br>
                    <span class="priceSpan">$430.00</span>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0 grayExpanded px-0" [hideToggle]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div>
                        <mat-icon class="mr-2 ownIcon">keyboard_arrow_right</mat-icon>
                        Associated With
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="panel-content">
              <div class="customVerScroll hgt-200">
                <div class="personInfo">
                  <div class="roundBusiness">
                    <i class="material-icons">person</i>
                  </div>
                    <div class="ml-2">
                        <span class="span1">Wes Studi</span><br>
                        <span class="span2">Manager</span>
                    </div>
                </div>
                <div class="personInfo">
                    <div class="roundBusiness">
                      <i class="material-icons">business</i>
                    </div>
                    <div class="ml-2">
                        <span class="span1">Company</span><br>
                        <span class="span2">Employee at Packet Monster, Inc.</span>
                    </div>
                </div>
                <div class="personInfo">
                  <div class="roundBusiness">
                    <i class="material-icons">business</i>
                  </div>
                  <div class="ml-2">
                      <span class="span1">Company</span><br>
                      <span class="span2">Employee at Packet Monster, Inc.</span>
                  </div>
              </div>
              <div class="personInfo">
                <div class="roundBusiness">
                    <i class="material-icons">leaderboard</i>
                </div>
                <div class="ml-2">
                    <span class="span1">Leads</span><br>
                    <span class="span2">Employee at Packet Monster, Inc.</span>
                </div>
            </div>
            </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0 px-0" [hideToggle]="true">
            <mat-expansion-panel-header>
                <mat-panel-title class="addPanelTitle">
                    <div>
                        <mat-icon class="mr-2 ownIcon">keyboard_arrow_right</mat-icon>
                        Upcoming Appointments
                    </div>
                    <div>
                        <button mat-button class="iconButton" (click)="addAppoint() ; $event.stopPropagation()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="panel-content">
              <div class="customVerScroll hgt-200">
                <div class="appointItem">
                  <div class="row">
                    <div class="col-auto pr-0">
                      <mat-checkbox color="primary" style="margin-bottom: 7px;" class="customCheckBox">
                      </mat-checkbox>
                    </div>
                    <div class="col pl-1">
                      <div (click)="editAppoint()" class="color-253238 f-12-400 mb-2">
                        Packet Monster Sales Opportunity
                      </div>

                      <span class="alertSpan">
                        <mat-icon class="fs-14 align-text-top">notification_important</mat-icon>
                          <span>Today at 9:00</span>
                      </span>
                    </div>
                  </div>


                </div>
                <hr>
                <div class="appointItem">
                  <div class="row">
                    <div class="col-auto pr-0">
                      <mat-checkbox color="primary" style="margin-bottom: 7px;" class="customCheckBox">

                      </mat-checkbox>
                    </div>
                    <div class="col pl-1">
                      <div class="color-253238 f-12-400 mb-2" (click)="editAppoint()">
                        UX design meeting at 17:30 hrs. sales pipeline design discussion.
                      </div>

                      <span class="alertSpan">
                        <mat-icon class="fs-14 align-text-top">calendar_today</mat-icon>
                          <span>Thu, 24 Apr, 2021</span>
                      </span>
                    </div>
                  </div>


                </div>
                <hr>
                <div class="appointItem">
                  <div class="row">
                    <div class="col-auto pr-0">
                      <mat-checkbox color="primary" style="margin-bottom: 7px;" class="customCheckBox">

                      </mat-checkbox>
                    </div>
                    <div class="col pl-1">
                      <div class="color-253238 f-12-400 mb-2" (click)="editAppoint()">
                        Landing page required for new CRM app
                      </div>
                      <span class="alertSpan color-ff0000">
                        <mat-icon class="fs-14 align-text-top">calendar_today</mat-icon>
                        <span class="color-ff0000">Thu, 20 Dec, 2020</span>
                    </span>
                    </div>
                  </div>
                </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0" [hideToggle]="true">
            <mat-expansion-panel-header>
                <mat-panel-title class="addPanelTitle">
                    <div>
                        <mat-icon class="mr-2 ownIcon">keyboard_arrow_right</mat-icon>
                        Tasks
                    </div>
                    <div>
                        <button mat-button class="iconButton" (click)="addTask() ; $event.stopPropagation()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="panel-content">
              <div [class.hgt-200]="tasks.length > 5" class="customVerScroll">
              <div *ngFor="let e of tasks" class="mb-2">
                <div class="row">
                  <div class="col-auto pr-0">
                    <mat-checkbox color="primary" class="mb-1 customCheckBox" [(ngModel)]="e.selected">
                    </mat-checkbox>
                  </div>
                  <div class="col pl-1">
                    <span (click)="editTask()" [class.lineThrough]="e.selected">{{e.name}}</span>
                  </div>
                </div>
              </div>
              </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0 px-0" [hideToggle]="true">
            <mat-expansion-panel-header>
                <mat-panel-title class="addPanelTitle">
                    <div>
                        <mat-icon class="mr-2 ownIcon">keyboard_arrow_right</mat-icon>
                        Files
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="panel-content">
              <div [class.hgt-275]="files.length > 5" class="customVerScroll">
                <div *ngFor="let f of files;let i = index" class="fileItem"
                    [class.pb-2]="i == 0" [class.py-2]="i > 0" [class.borderBottom]="i < files.length - 1">
                    <img *ngIf="f.type == 'word'" alt="Image" src="../../../assets/images/word-icon.svg">
                    <img *ngIf="f.type == 'excel'" alt="Image" src="../../../assets/images/excel-icon.svg">
                    <img *ngIf="f.type == 'pdf'" alt="Image" src="../../../assets/images/pdf-icon.svg">

                    <div class="ml-2">
                        <span class="fileName">{{f.name}}</span><br>
                        <span class="fileDescription">{{f.description}}</span>
                    </div>
                </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
